@import "font-awesome";

$headerfont: 'Nixie One', sans-serif;
$bodyfont: 'Source Code Pro', monospace;

$headerheight: 40px;

html, body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  font-family: $bodyfont;
}

h1, h2, h3 {
  font-family: $headerfont;
  font-size: 14px;
}

header {
  width: 100%;
  height: $headerheight;
  background: black;
  text-align: right;
  position: fixed;

  li {
    display: inline-block;
    height: 100%;

    a.fa {
      display: inline-block;
      color: white;
      line-height:$headerheight;
      font-size: 20px;
      margin-right: 20px;
    }
  }
}

section {
  max-width: 830px;
  margin: 0 auto;
  padding: 20px;
  color: #333;

  &:first-of-type {
    padding-top: $headerheight;
  }

  &:nth-of-type(2n) {
    background-color: #333;
    color: white;
  }
}

h1 {
  padding-top: 20px;
  text-align: center;
  font-size: 36px;
}

h2 {
  height: 40px;
  overflow: hidden;
  position: relative;
  
  span {
    position: absolute;
    top: 40px;
    width: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 40px;
    transition: transform 0s ease-out;

    &.placed {
      transition-duration: 250ms;
      transform: translate3d(0, -40px, 0);
    }
  }
}

h3 {
  padding-top: 10px;
  text-align: center;
  font-size: 24px;

  span {
    white-space: nowrap;
  }
}

p {
  padding-top: 10px;
  line-height: 1.3;
}

#section-tech ul {
  padding-top: 20px;
  list-style-type: none;

  li {
    &:nth-of-type(2n) {
      background-color: #eee;
    }

    span.label {
      display: inline-block;
      line-height: 30px;
      font-size: 16px;
      width: 220px;
    }

    span.base {
      display: inline-block;
      width: calc(100% - 240px);
      max-width: 500px;
      height: 8px;
      margin-top: 10px;
      background-color: #fff;
      background-image: repeating-linear-gradient(-60deg, #fff, #fff 12px, #ddd 12px, #ddd 14px);
      border: 1px solid #aaa;
      border-radius: 99px;

      @media all and (max-width: 479px) {
        display: block;
        width: auto;
        margin-top: 0;
      }
    }

    span.level {
      display: block;
      height: 8px;
      border: 1px solid transparent;
      box-sizing: border-box;
      border-radius: 99px;
      background-color: #444;
      background-color: rgba(0, 0, 0, 0.7);
    }

    @media all and (max-width: 479px) {
      padding-bottom: 15px;
    }
  }
}

#section-clients ul {
  padding-top: 20px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media all and (max-width: 399px) {
    display: block;
  }

  li {
    flex-basis: content;
    padding: 0 20px 5px;
  }
}

#section-contact ul {
  padding-top: 20px;
  list-style-type: none;

  li {
    white-space: nowrap;
    overflow: hidden;

    a:before {
      content: 'Contact me!';

      @media all and (min-width: 520px) {
        content: attr(href);
      }
    }
  }
}