@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&family=Exo:ital,wght@0,300;0,400;1,400&display=swap');

$bg-color: #39f;
$bg-dark-color: #06f;
$border-color: #000;

.boxes {
    border: 1px solid $border-color;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;

    h4 {
        margin: 0;
        padding: 0.3rem 0 0;
    }
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

body, section {
    padding: 2.5rem 4rem 0;
}

@media (max-width: 767px) {
    body {
        padding: 1.5rem 1rem 0;
    }
}

@media (max-width: 479px) {
    section {
        padding: 1.5rem 0.5rem 0;
    }
}

html {
    background: radial-gradient(ellipse at 10% 90%, rgba($bg-color, 0.6), transparent 40%),
                radial-gradient(ellipse at 20% 100%, rgba($bg-dark-color, 0.6), transparent 20%),
                radial-gradient(ellipse at 90% 10%, rgba($bg-color, 0.6), transparent 40%),
                radial-gradient(ellipse at 100% 20%, rgba($bg-dark-color, 0.6), transparent 20%);
    background-attachment: fixed;
}

header {
    background-color: #000;
    text-align: right;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    nav {
        text-transform: uppercase;
        font-size: 90%;
        padding: 0 1.5rem;
        line-height: 3.5rem;

        a {
            color: #fff;
            text-decoration: none;
            margin: 0 0.75rem;

            &.icon {
                margin: 0 0.5rem;
                font-size: 120%;
                
                span {
                    font-size: 0;
                }
            }
        }
    }
}

h1, h2, h3 {
    font-family: Exo, sans-serif;
    text-align: center;
}

h4, h5 {
    font-family: Exo, sans-serif;
}

h1 {
    font-size: 250%;
    margin-bottom: 0;
}

h2 {
    font-weight: 300;
    margin: 0;
    padding-top: 1rem;
}

h3 em {
    white-space: nowrap;
}

main {
    padding: 0 1rem 1.5rem;
    line-height: 1.3;
    margin: 5rem auto;
    max-width: 60rem;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid #f0f0f0;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.6rem 0rem rgba(0, 0, 0, 0.2);

    @media (max-width: 767px) {
        
    }
}

li {
    margin-bottom: 0.5rem;
}

#solutions, #contact {
    padding-left: 1rem;
    padding-right: 1rem;
}

.edition-boxes {
    display: flex;

    @media (max-width: 767px) {
        display: block;
    }

    & > div {
        @extend .boxes;
        flex: 1;
        display: flex;
        flex-direction: column;

        h4 {
            text-align: center;
        }

        & > div {
            flex: 1;

            li {
                margin-bottom: 0.2rem;
            }
        }

        & > a {
            color: inherit;
            flex: 0;
            margin: 0 auto;
            border: 1px solid $bg-dark-color;
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            text-decoration: none;
            box-shadow: 0 0 4px 2px $bg-color inset;
        }
    }
}

.bundle-boxes > div {
    @extend .boxes;
    display: flex;
    align-items: center;

    & > div:first-child {
        flex: 0 0 6rem;
        
        @media (max-width: 479px) {
            flex-basis: 0;
        }
    }

    & > div:last-child {
        flex: 1;
    }
}

#contact a {
    line-height: 1.5;
    color: inherit;

    i {
        margin-right: 0.3rem;
    }
}

.img-hdr {
    margin: 0 auto;
    display: block;
    max-width: 7rem;

    &.software {
        width: 50%;
    }
    
    &.cloud {
        width: 70%;
    }

    &.security {
        margin-top: 2rem;
        margin-right: 0rem;
    }

    &.leadership {
        margin-top: 2rem;
        margin-right: 0.5rem;
    }
}